/* General */
* {
    box-sizing: border-box;
  }
  
  :root {
    --primary: rgb(156, 0, 122);
    --secondary: rgb(0, 70, 110);
    --accent: rgb(54, 161, 233);
    --dark: rgb(12, 12, 12);
    --light: rgb(245, 245, 245);
  }

  
body {
    font-family: 'Sen', sans-serif;
    background-color: rgb(249, 185, 255);
  }
  
  .hidden {
    display: none;
  }
  
  /* Navbar */
  nav {
    background-color: var(--primary);
  }
  
  .navbar-brand {
    font-size: 42.8px;
  }
  
  .navbar-nav {
    background-color: var(--primary);
  }
  
  .navbar-nav span {
    color: var(--accent);
    font-weight: 300;
    font-size: 30px;
    text-shadow: #f3c4c4 0px 0px 10px;
  }
  
  
  
  nav i {
    margin-right: 0.5em;
    color: var(--accent);
  }
  
  /* Search Form */
  #search {
    background-color: var(--secondary);
  }
  
  #search > .container {
    padding-bottom: 5rem;
  }
  
  .form-group {
    background-color: rgb(164, 226, 255);
  }
  
  #search input {
    font-size: 25px;
    border: none; /* Simplified border declaration */
  }
  
  #search i {
    font-size: 1.5em;
   color: var(--accent);
  }
  
  /* Search History */
  #search-history-container {
    position: relative;
    z-index: 1000;
  }
  
  #search-history-results {
    position: absolute;
    width: 100%;
    margin: 0.5rem 0;
    background: rgb(230, 178, 227);
  }
  
  #search-history-results ul {
    list-style: none;
    padding: 0;
  }
  
  #search-history-results i {
    padding-right: 0.2rem;
  }
  
  #search-history-results li {
    cursor: pointer;
    padding: 0.3rem 0.5rem 0.2rem 0.5rem;
    border-radius: 5px;
  }
  
  #search-history-results li:hover {
    background-color: rgba(61, 0, 0, 0.05);
  }
  
  /* Buttons */
  .btn:focus-visible {
    outline: 2px solid rgb(247, 33, 33);
  }
  
  /* Forecast */
  #forecast {
    position: relative;
    top: -2rem;
  }
  
  .current-date {
    border-right: 1px solid rgb(71, 0, 68);
  }
  
  .card{
    --bs-card-bg: #f3c4c4;
  }
  
  .forecast-stats span {
    font-size: 0.8rem;
  }
  
  /* Footer area */
  section footer {
    border-top: 3px solid rgb(71, 0, 68);
    border-bottom: 3px solid rgb(71, 0, 68);
  }

  /*The End, Thank you for reading my magical code, you are great/*